// variables
$colors: (
  primary: (
    dark: #1b2023,
    default: #2f3640,
    light: #353b48,
  ),
  secondary: (
    dark: #c79f34,
    default: #fbc531,
    light: #fcd35d,
  ),
  text: (
    light: #f5f6fa,
    dark: #2f3640,
  ),
);

$font-base: 16px;